@import '@theme-variables'
.user-chat-option
    height: $chat-window-input-area-height
    width: 100%
    box-sizing: border-box
    background: var(--window-background)
    // padding: 17.33px 30.97px 16.31px 47.92px
    box-shadow: 1px 2px 6px black
    &[data-unselectable='true']
        user-select: none
        cursor: not-allowed
        filter: greyscale(1px)
        & >div
            pointer-events: none
    &__container
        display: flex
        align-items: center
        justify-content: space-between
        height: 100%
        .option__input
            width: 100%
            input
                background: var(--input-background-color)
                backdrop-filter: blur(10.1948px)
                border-radius: 10.1948px
                padding: 15.45px 20.7px 13.39px
                border: none
                outline: none
                width: 100%
                box-sizing: border-box
                &::placeholder
                    font-style: italic
                    @include placeholder()
    .click-icon
        height: 32.62px
        width: 32.62px
        display: grid
        place-items: center
        cursor: pointer
        padding: 17px
        path
            stroke: var(--icon-stroke)

@media screen and (max-width: 768px)
    .user-chat-option
        padding: 16.31px 10px
