@import '@theme-variables'

.chat-window-main-container
    font-family: $frame-font
    height: 100%

.no-chat-message-container
    height: 100%
    width: 100%
    display: grid
    place-items: center
    .no-chat-content
        text-align: center
        color: var(--text-ternary-color)

.chat-area
    position: relative
    height: 100%
    overflow: hidden
    display: flex
    flex-direction: column
    header
        background-color: var(--window-background)
        height: $chat-window-header-height
        width: 100%
        padding: 8.16px 24.47px 8.78px
        box-sizing: border-box
        position: relative
        z-index: 1
        box-shadow: 0 1px 10px grey
        & > div
            display: flex
            justify-content: space-between
            align-items: center
            height: 100%
            .profile-container
                display: flex
                align-items: center
                .profile-picture-container
                    @include chat-profile-picture
                    margin-right: 10.19px
                .profile-details
                    .profile-name
                        @include profile-name-style-chat-only
                    .profile-status
                        font-weight: 300
                        font-size: $subtext-font-size
                        line-height: 19px
                        letter-spacing: 0.02em
                        color: var(--text-ternary-color)
            .contact-options
                border-left: 1.01948px solid rgba(0, 0, 0, 0.25)
                .modal-child-container
                    border-radius: 8px
                    width: fit-content
                    min-width: 200px
                    height: auto
                    @include options-modal()

    &__permission-popup
        margin: 0 auto 20px auto
        width: 90%
        padding: 20px
        max-width: 500px
        border: 2px solid grey
        border-radius: 10px
        background: var(--window-background)
        color: var(--text-primary-color)
        box-shadow: inset 1px 2px 5px var(--shadow-color), inset -1px -2px 5px var(--shadow-color)
        .permission-actions
            display: flex
            justify-content: center
            gap: 20px
            .action
                all: unset
                cursor: pointer
                border: 1px solid red
                padding: 10px
                border-radius: 8px
                background: #B22222
                backdrop-filter: blur(10px)
                opacity: 0.8
                user-select: none
                transition: all 0.2s ease
                color: white
                &:hover
                    background-color: #FF6347
                    box-shadow: 0px 10px 20px rgba(0,0,0,0.1)
                &.accept
                    background: #2B59C3
                    opacity: 1
                    border: 1px solid #2B59C3
                    &:hover
                        background: #3F7AE0

        sub
            font-size: 12px
            float: right
