@import './variables.sass'
@mixin profile-name-style-chat-only()
    font-style: normal
    font-weight: 600
    font-size: $name-font-size-chat-only
    line-height: 22px
    letter-spacing: 0.02em
    color: #616161
@mixin chat-profile-picture()
    height: 55.31px
    width: 55.31px
    border-radius: 50%
    display: grid
    align-items: center
    overflow: hidden
    .profile-picture
        height: 100%
        width: 100%
        cursor: pointer
    & > span
        display: grid
        place-items: center
        font-weight: bold
        font-size: 24px
@mixin message-box-others()
    background-color: $others-chat-message-color
    font-family: $content-font
    font-style: normal
    font-weight: 400
    font-size: 16.3117px
    line-height: 110.66%
    color: #000000

@mixin message-box-mine()
    background-color: $my-chat-message-color
    font-family: $content-font
    font-style: normal
    font-weight: 400
    font-size: 16.3117px
    line-height: 110.66%
    color: #FFFFFF
    margin-left: auto
