$window-background: rgba(255, 255, 255, 0.85)
$person-background: #fff

$frame-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
$content-font: Montserrat, sans-serif

//Chat
$name-font-size-chat-only: 16.31px
$subtext-font-size: 14.27px

// Chat List
$search-input-background: #E9E9E9

// Chat Window
$no-chat-message-color: grey
$chat-header-background: #fff
