@import './variables.sass'
@mixin profile-name-style-chat-only()
    font-style: normal
    font-weight: 600
    font-size: $name-font-size-chat-only
    line-height: 22px
    letter-spacing: 0.02em
    color: var(--text-primary-color)
@mixin chat-profile-picture()
    height: 55.31px
    width: 55.31px
    border-radius: 50%
    display: grid
    align-items: center
    overflow: hidden
    .profile-picture
        height: 100%
        width: 100%
        cursor: pointer
    & > span
        display: grid
        place-items: center
        font-weight: bold
        font-size: 24px
@mixin message-box-others()
    background-color: $others-chat-message-color
    font-family: $content-font
    font-style: normal
    font-weight: 400
    font-size: 16.3117px
    line-height: 110.66%
    color: #000000

@mixin message-box-mine()
    background-color: $my-chat-message-color
    font-family: $content-font
    font-style: normal
    font-weight: 400
    font-size: 16.3117px
    line-height: 110.66%
    color: #FFFFFF
    margin-left: auto

@mixin placeholder()
    font-family: $frame-font
    font-weight: 500
    font-size: 14.2728px
    line-height: 1px
    letter-spacing: 0.02em
    color: var(--text-secondary-color)
    opacity: 0.8

@mixin secondary-button()
    all: unset
    cursor: pointer
    border-radius: 4px
    box-shadow: 0.5px 1px 3px $seconday-button-color
    padding: 10px 35px
    background: $seconday-button-color
    backdrop-filter: blur(1px)
    color: white
    &:disabled
        cursor: auto
        background: transparent

@mixin primary-button()
    all: unset
    min-width: 180px
    height: 45px
    display: grid
    place-items: center
    text-align: center
    border-radius: 10px
    cursor: pointer
    background-color: $primary-button-color
    // border: 2px solid $primary-button-color
    color: white
    font-family: $login-page-font
    font-size: 18px
    margin-bottom: 5px
    box-sizing: border-box
    transition: all 0.2s ease
    overflow: hidden
    &:hover:not([data-in_progress='true'])
        background-color: white
        color: $primary-button-color
    &[data-hidden='true']
        opacity: 0

@mixin options-modal()
    background: var(--modal-background-primary)
    color: var(--text-secondary-color)
    box-shadow: 1px 2px 10px var(--option-modal-shadow)
    border-radius: 8px
    font-family: $frame-font
    overflow: hidden
    .option
        all: unset
        display: block
        width: 100%
        box-sizing: border-box
        padding: 10px
        transition: background 100ms ease
        cursor: pointer
        &:not(:last-child)
            box-shadow: 0 0.5px 0 0 rgba(150,150,150,0.2)
        &.red
            color: red
        &:hover
            background: var(--option-hover-background)
