@import '@theme-variables'
.app-container
    height: 100%
    width: 100%
    box-sizing: border-box
    background: url('/src/assets/RE4FlaY_1920x1080.jpg')
    background-size: cover
    background-blend-mode: soft-light
    transition: background 500ms ease
    &__app-window
        background-color: var(--app-background)
        backdrop-filter: blur(15px)
        height: 100%
        width: 100%
        box-sizing: border-box
        padding: 18.91px 18.35px 0
        display: grid
        grid-template-rows: 140px 1fr
        grid-template-columns: minmax(320px, 357px) 7.14px 1fr 9.18px 294px
        grid-row-gap: 8.16px
        position: relative
        & > div
            background: var(--window-background)
        .story-container
            border-top-left-radius: 25.48px
            grid-area: 1 / 1 / 1 / span 3
        .profile-container
            border-top-right-radius: 25.48px
            grid-area: 1 / 5 / 1 / span 5
        .chat-list
            grid-area: 2 / 1 / 2 / span 1
        .chat-window
            grid-area: 2 / 3 / 2 / span 5
            overflow: hidden
    .not-allowed
        cursor: not-allowed !important
        pointer-events: none !important
        color: lightgrey !important
        text-decoration: line-through !important
        &:after
            content: '*'
#credential_picker_container
    color-scheme: light !important

@media screen and (max-width: 768px)
    .app-container
        overflow: hidden
        scroll-behavior: smooth
        scroll-snap-type: mandatory
        &__app-window
            width: 200%
            padding: 0
            grid-template-columns: calc(50% - 120px) 120px 50%
            grid-template-rows: 100px 1fr
            .story-container
                grid-area: 1 / 1/ 1/ span 1
                border-radius: 0
            .profile-container
                grid-area: 1/2/1/ 2
                border-radius: 0
            .chat-list
                grid-area: 2/1/span 1/span 2
                overflow-y: auto
            .chat-window
                grid-area: 1/3/ span 2/ span 3
